* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Style */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
}

/* Header */
.container {
    width: 85%;
    margin: 50px auto;
}

.top-blog {
    border-radius: 30px;
    background-color: #0F0F53;
}

.container:hover .link-btn {
    background-color: #FFD301;
    font-weight: 700;
}

.content {
    display: flex;
    padding: 0 100px;
    align-items: center;
}

.half-width {
    margin-top: 33px;
    width: 50%;
}

.mini-text {
    display: none;
}

h1 {
    font-size: 4em;
    line-height: 1.2em;
    color: #FFD301;
}

h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 500;
    padding: 50px;
}

.short-text {
    color: whitesmoke;
    margin: 20px 0;
}

hr {
    width: 100%;
    height: 1px;
    background-color: #c4c2c217;
    border: none;
}

.container:hover h1 {
    color: whitesmoke;
}

.btn {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.link-btn {
    margin-top: 10px;
    color: #0F0F53;
    padding: 16px 25px;
    border-radius: 5px;
    background-color: whitesmoke;
    display: inline-block;
}

.btn-icon {
    font-size: 20px;
    margin-left: 10px;
}

.half-width img {
    width: 100%;
    margin-left: 50px;
}

/* Blog Area */
.flex {
    display: flex;
}

.fixed-width {
    width: 312px;
    height: 312px;
    padding: 30;
    border-radius: 10px;
    margin-top: 85px;
    margin-right: 25px;
    background-color: #0F0F53;
}

.fixed-btn {
    width: 252px;
    height: 64px;
    padding: 17px 39px;
    margin: 30px 30px 0 30px;
    color: black;
    text-align: center;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 10px;
}

#highlighted {
    background-color: #FFD301;
}

.blog {
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.highlights {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.highlights img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-content {
    margin: 20px;
}

.live-btn {
    font-weight: 600;
    font-size: 16px;
    background-color: white;
    padding: 4px 16px;
    border-radius: 5px;
}

.blog-content h3 {
    margin-top: 15px;
}

.live-details {
    display: flex;
}

.blog-info {
    margin-top: 20px;
    margin-right: 30px;
}

.blog-info p {
    margin-left: 10px;
    font-size: 16px;
    color: gray;
}

/* match.index.html */
.Upcoming-match {
    padding: 50px 15px;
}

.Upcoming-match img {
    width: 80px;
    border-radius: 0%;
}

.Upcoming-match .flex {
    align-items: center;
    justify-content: center;
}

.Upcoming-match .flex h5 {
    padding: 0 10px;
}

/* Footer & 
Navigation Area */
.footer-bg {
    margin-top: 130px;
    background-color: #161616;
}

.footer-navigation {
    height: 294px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

}

.footer-navigation ul li {
    list-style-type: none;
    margin-top: 50px;
}

.footer-navigation ul li a {
    color: #B9B9B9;
    text-decoration: none;
    padding: 0 25px;
}

.social-icon {
    font-size: 20px;
    padding-bottom: 20px;
}

/* ==============
Media Queries 
===============*/
/* Mobile Device */

@media only screen and (max-width: 668px) {
    .container {
        display: flex;
        justify-content: center;
    }

    .content {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .half-width {
        width: 85%;
    }

    h1 {
        font-size: 2.5em;
    }

    .mini-text {
        width: 300px;
        display: block;
        padding-left: 50px;
    }

    .big-text {
        display: none;
    }

    .short-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 20px auto;
    }

    .flex {
        flex-direction: column;
    }

    .half-width img {
        margin: 0 auto;
    }

    .fixed-width {
        margin: 0 auto;
        background-color: white;
    }

    .fixed-btn {
        width: 85%;
        background-color: white;
        border: 1px solid lightgray;
    }

    #highlighted {
        border: none;
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog .flex {
        flex-direction: row;
    }

    .footer-navigation {
        height: auto;
    }

    .footer-navigation ul li {
        text-align: center;
    }

    ul.social-icon.flex {
        flex-direction: row;
    }
}

/* Tablet */
@media only screen and (min-width: 669px) and (max-width: 991px) {
    h1 {
        font-size: 2em;
    }

    .mini-text {
        width: 300px;
        display: block;
    }

    .big-text {
        display: none;
    }

    .short-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .flex {
        flex-direction: column;
    }

    .fixed-width {
        width: 100%;
        height: auto;
        max-width: auto;
        display: flex;
        background-color: white;
        margin: 0px;
    }

    .fixed-btn {
        margin: 0 10px;
    }

    .Upcoming {
        padding: 17px 5px;
    }

    .blog {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog .flex {
        flex-direction: row;
    }

    .footer-navigation ul li {
        text-align: center;
    }

    .footer-navigation .flex {
        flex-direction: row;
        white-space: nowrap;
        word-wrap: wrap;
    }

    ul.social-icon.flex {
        flex-direction: row;
    }
}